<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">My first site on Java</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Main page</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/articles">Articles</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/articles/add">Add article</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About us</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/contact">Contact</a>
        </nav>
    </div>
</div>